.container {
  padding: 16px;
  background-color: var(--dark-gray-800);
  input::placeholder {
    color: var(--black-300);
  }
}

.buttonContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  margin: 10px 0px;
  padding-left: 16px;
}

.status {
  color: var(--red-500);
  font-size: 12px;
}
